body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main_body{
  width:100%;
background-image: url(http://media.istockphoto.com/photos/blue-gradient-blurred-abstract-background-picture-id523159398?k=6&m=523159398&s=612x612&w=0&h=hw98BNjx1c8-UWnAJr2LVxr6ubrGLvXSQcdv_Po-1xg=);
}
.another_body{
  width: inherit;
  height: auto;
}
.side ul{
  list-style: none;
  padding: 1%;
}
.side ul li{
  margin: 2%;
}
.side ul{
  text-align: justify;
}
.side p{
  text-align: justify;
}

img{
  width: 100%;
  height: 30%;
  float: right;
}
.class {
  border: 2px brown;
  padding: 5px;
}
