body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main_body{
  width:100%;
  background-color: rgb(255,0,255);
background-image: url(../images/bgv.jpg);
}
.another_body{
  width: inherit;
  height: auto;
}
.side ul{
  list-style: none;
  padding: 1%;
}
.side ul li{
  margin: 2%;
}
.side ul{
  text-align: justify;
}
.side p{
  text-align: justify;
}
img{
  width: 100%;
  height: 30%;
  float: none;
}
.class {
  border: 2px brown;
  padding: 5px;
}
